
$color: rgb(146, 87, 10);
.myDiv{
    color: $color;
    margin-top: 70px;
    height: 600px;
  //   background-image: url('https://picsum.photos/seed/picsum/200/300');
    
  // background-repeat: no-repeat;
  // background-size: contain;
  
}